
.logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 10% 0 10%;
}

.general-content{
    position: relative;
}

.logo-title{
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 10px;
}

.logo-img{
    width: 15%;
}

.content-title{
    font-size: xx-large;
    margin-bottom: 10%;
}

.helptext{
    visibility: hidden;
    position: absolute;
}
.form ul{
    visibility: hidden;
    position: absolute;
}

#form-signup{
    margin-bottom: 0;
}

#form-button{
    position: absolute;
    bottom: 20px;
    width: 50%;
}