{% extends 'base.html' %}

{% block content %}
{% load image_template_tag %}

<div>
    <h1 style="margin: 50px;">
        about page
    </h1>
    
    <article style="padding: 50px;">
        Proyecto por Facundo Rizzato. <br><br>

        El proyecto es un ecommerce de artículos de gamig.<br> 
        El sistema de registro funciona, tiene filtros de productos y una barra de busqueda como tambien una vista a los productos para comprar. Tiene un carrito de compras y una pestaña con el perfil del usuario donde se puede editar la información. Ademas se pueden agregar artículos desde "/admin" (usuario: admin, contraseña: admin). <br>
        El proyecto lo hice yo solo y me faltó agregarle cosas, pero no llegue bien con los tiempos.  

    </article>
</div>


{% endblock %}