{% extends "base.html" %}
{% block content %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4" style="display: flex; justify-content: center; justify-items: center;">

          {% for object in items %}
          <img src="/uploads/{{ object.img }}" class="img-fluid" alt="image not found"  style="height: 250px;">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <div class="mb-3">
              <h1>
                {{ object.tittle }}
              </h1>
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>

            <p class="lead">
              <span>${{ object.price }}</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}.</p>

            <!-- <form class="d-flex justify-content-left">
              Default input
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> -->

            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>
          <!--Content-->
          {% endfor %}
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">
        <div style="margin-bottom: 100px;">
          <img src="/uploads/star.png" alt="" style="height: 30px;">
          <img src="/uploads/star.png" alt="" style="height: 30px;">
          <img src="/uploads/star.png" alt="" style="height: 30px;">
          <img src="/uploads/star.png" alt="" style="height: 30px;">
          <img src="/uploads/star.png" alt="" style="height: 30px;">
        </div>


          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      <div class="col-xl-12" style="margin-top: 70px;">
        <h1 style="align-items: center; text-align: center;">
          Reviews
        </h1>
      </div>
      <div class="col-xl-12" style="align-items: center; text-align: center; margin-top: 100px; width: 70%;">
        <form action="" method="post">
          <img class="rounded-circle shadow-1-strong me-3"
          src="{{ url }}" alt="not found" width="65"
          height="65" style="float: left; "/>
          {% csrf_token %}
          {{ form.as_p }}
          <button name="submit">
            submit
          </button>
        </form>
      </div>
    </div>
    <div style="background-color: #FFFAFA;">
      <section style="margin-top: 50px;">
        <div class="container my-5 py-5 text-dark">
          <div class="row d-flex justify-content-center">
            <div class="col-md-11 col-lg-9 col-xl-7">

              {% for objects in comments %}
              <div class="d-flex flex-start mb-4">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{{ objects.image_perfil }}" alt="avatar" width="65"
                  height="65" />
                <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="">
                      <h5>{{ objects.user }}</h5>
                      <p class="small">{{ objects.date_adedd }}</p>
                      <p>
                        {{ objects.body }}
                      </p>
      
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i></a>
                        </div>
                        <form action="" method="post">
                          {% csrf_token %}
                          <button name="reply" href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</button>
                        </form>
                      </div>
                      {% if "reply" in request.POST %}
                      {{ form.as_p }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
              <h3 style="align-items: center; text-align: center;">
                no reviews for this product yet
              </h3>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/product/static/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/product/static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/product/static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/product/static/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>
</body>
</html>

{% endblock %}