{% extends 'base.html' %} {% block content %}

<link href="/product/static/css/login.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap" rel="stylesheet">

<div id="logo">
  <h1 class="logo">
    Store
  </h1>
  <img src="\uploads\1250593.png" alt="" class="img-logo">
</div>

<div id="base">
  <h1>
    <b>Sign up</b>
  </h1>
  <form action="/signup/" method="POST" style="padding: 15px">
    {% csrf_token %}

    <p style="color: rgb(97, 178, 245)">{{error}}</p>

    {{form.as_p}}

    <button>signup</button>
  </form>
</div>

{% endblock %}


